.header{
    &__navigation{ // Mobile navigation

        > span{
            display: block;
            width: 26px;
            height: 2px;
            background-color: $black;
        }

    }
}